{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Inicio</title>
<link rel="stylesheet" href="{% static '/css/index.css' %}" >
{% endblock extrahead%}

{% block content %}
{% if messages %}
	{% for message in messages %}
    <div {% if message.tags == 'warning' %} class="alert alert-warning alert-message"{% else %} class="alert alert-success alert-message" {% endif %}>
        <b class="message-alert">{{ message }}</b>       
    </div>	
	{% endfor %}
{% endif %} 
<h1 class="display-2 text-center" id="title">UIS INVENTARIO</h1>
<img src="{% static '/img/imagen.png' %}" class="img-fluid rounded mx-auto d-block" id="img_index" alt="Error cargando Imagen">

<figure class="text-center">
    
        
    <figcaption class="blockquote-footer">
      Equipo UISINVENTARIOS</cite>
    </figcaption>
</figure>
{% endblock content%}